{% extends 'base-backend.html.twig' %}

{% block title %}Nouveau Projet{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_projet_index') }}" class="btn btn-dark mb-4">Retour</a>
    <h1>Nouveau Projet</h1>

    {{ include('admin_projet/_form.html.twig') }}

{% endblock %}
