{% extends 'base-backend.html.twig' %}

{% block title %}Nouveau Caroussel{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_carousel_index') }}" class="btn btn-dark mb-4">Retour</a>
    <h1>Nouveau Caroussel</h1>

    {{ include('admin_carousel/_form.html.twig') }}

{% endblock %}
