{% extends 'base-backend.html.twig' %}

{% block title %}Nouvelle Activité{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_activite_index') }}" class="btn btn-dark mb-4">Retour</a>
    <h1>Nouvelle Activité</h1>

    {{ include('admin_activite/_form.html.twig') }}

{% endblock %}
