{% extends 'base-backend.html.twig' %}

{% block title %}Nouvel Utilisateur{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_user_index') }}" class="btn btn-dark mb-4">Retour</a>
    <h1>Nouvel Utilisateur</h1>

    {{ include('admin_user/_form.html.twig') }}

{% endblock %}
