{% extends 'base-backend.html.twig' %}

{% block title %}Nouveau Bonus{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_bonus_index') }}" class="btn btn-dark mb-4">Retour</a>
    <h1>Nouveau Bonus</h1>

    {{ include('admin_bonus/_form.html.twig') }}

{% endblock %}
