{% extends 'base-backend.html.twig' %}

{% block title %}Nouvelle Informations{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_informations_index') }}" class="btn btn-dark mb-4">Retour</a>
    <h1>Nouvelle Informations</h1>

    {{ include('admin_informations/_form.html.twig') }}

{% endblock %}
