{% extends 'base-backend.html.twig' %}

{% block title %}Nouvelles Mentions-Légales{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_mentions_legales_index') }}" class="btn btn-dark mb-4">Retour</a>
    <h1>Nouvelles Mentions Légales</h1>

    {{ include('admin_mentions_legales/_form.html.twig') }}

{% endblock %}
